<div class="container-fluid">
    <h1>Movie Information</h1>
    <hr>    
    <dl>
        <dt>Movie Id</dt>
        <!-- Data binding with interoplation syntax -> {{}}-->
        <dd>{{movie.movieId}}</dd>  <!-- direct value binding, ok for direct data properties-->

        <dt>Movie Name</dt>
        <dd>{{movie.movieName}}</dd>

        <dt>Movie Rating</dt>
        <dd>{{movie.movieRating}}</dd>

        <dt>Release Year</dt>
        <dd>{{movie.releaseYear}}</dd>

        <dt>Availiblity</dt>
        <dd>
            <span> Via intropolation: </span><input type="checkbox" checked="{{movie.isAvailable}}" disabled> <!-- via intropolation syntax {{}}-->
            <br>
            <!-- not recommended on html properties (attributes) -->
            <span> Via Property binding: </span><input type="checkbox" [checked]="movie.isAvailable" disabled> <!-- via property binding [] -->
        </dd>

        <dt>Banner</dt>
        <dd>
            <span class="m-4">Via interpolation:</span>
            <img src="{{movie.movieThumbnail}}" alt="movie thumbnail">
            <br>
            <span class="m-4">Via property binding:</span>
            <img [src]="movie.movieThumbnail" alt="movie thumbnail">
            
<!--
    Property Binding: Used for binding to DOM properties. It reflects the dynamic state of an element (e.g., [disabled], [value], [checked]).
    Attribute Binding: Used for binding to HTML attributes. These are static values that do not change dynamically (e.g., [attr.aria-label], [attr.colspan]).
-->
        </dd>
    </dl>
</div>