<div class="container-fluid">
    <div>
        <h1 class="text-center">Event Binding</h1>
        <hr>
        <dl>
            <dt>Emp Id</dt> 
            <dd>[{{eID}}]</dd>
            
            <dd>
                <label for="" class="form-label">
                    <input  type="text" placeholder="enter new empId" [(ngModel)]="eID">
                </label>
                
            </dd>

            <dt>Emp Name</dt>
            <dd>[{{eName}}]</dd>
            <dd>
                <label for="" class="form-label">
                    <input  type="text" placeholder="enter new name" [(ngModel)]="eName" >
                </label>
                
            </dd>

            <dt>Emp Salary</dt>
            <dd>[{{eSal}}]</dd>
            <dd>
                <label for="" class="form-label">
                    <input  type="text" placeholder="enter new salary" [(ngModel)]="eSal" >
                </label>
                
            </dd>
        </dl>
    </div>
    <div>
        <button (click)="updateData()" class="btn btn-success">Update Data</button>
    </div>

    <div>
        <button class="mt-2 btn btn-primary">Event Binding example</button>
    </div>
</div>


