<div class="container-fluid">
    <div class="text-center">
        <h3>Student details</h3>
        <table class="table">
           <tr>
                <th>Student Id</th>
                <th>Student Name</th>
                <th>Sub Marks 1</th>
                <th>Sub Marks 2</th>
                <th>Sub Marks 3</th>
                <th>Total Marks</th>
                <th>Percentage</th>
                <th>Grade</th>
           </tr>

            <tr>
                <td>{{studentID}}</td>
                <td>{{studentName}}</td>
                <td>{{sub1Marks}}</td>
                <td>{{sub2Marks}}</td>
                <td>{{sub3Marks}}</td>
                <td>{{totalMarks}}</td>
                <td>{{percentage}}</td>
                <td>{{grade}}</td>
            </tr>

        </table>

        <div class="form-group">
            <label>Student Id: &nbsp; <input type="text" [(ngModel)]="studentID"></label>
            <label>Student Name: &nbsp;<input type="text" [(ngModel)]="studentName"></label>
            <label>Sub marks 1: &nbsp;<input type="number" [(ngModel)]="sub1Marks"></label>
            <label>Sub marks 2: &nbsp;<input type="number" [(ngModel)]="sub2Marks"></label>
            <label>Sub marks 3: &nbsp;<input type="number" [(ngModel)]="sub3Marks"></label>

            <hr>

           <form (click)="generate()">
                <label>Total Marks: &nbsp;<input type="number" value={{totalMarks}} placeholder="hello"></label>
                <label>Percentage: &nbsp;<input type="number" value={{percentage}}></label>
                <label>Grade: &nbsp;<textarea rows=1 cols="50" value={{grade}}></textarea></label>
                <button class="btn btn-dark m-3">  Generate </button>
           </form>
            <!--if not within form  -->
           <!-- <button class="btn btn-dark m-3" (click)="generate()">  Generate </button> -->
        </div>
            
    </div>
</div>
